@model IEnumerable<E_voting.Models.Model.Candidate>

@{
    ViewBag.Title = "Candidates";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <img class="img-responsive" src="@item.PhotoPath" width="100" height="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CandidateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CandidateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CandidateId })
        </td>
    </tr>
}

</table>
